@CHARSET "US-ASCII";
.rectangle {
	background-color:white;
	width:100px;
	height:100px;
	border: 1px solid black;
	border-collapse: collapse;
	top:25px;
	position:relative;
}

.rectangle {
	float:right;
	right:25px;
}

.boardSlot {
width: 71px;
height: 71px;
position: relative;
left: 8px;
}

.gameBoard {
background-color: rgb(0, 162, 250);
height: 558px;
width: 650px;
float: left;
}

.player1 {
	background-color:red;
}

.player2 {
	background-color:yellow;
}

.emptySlot {
	background-color:white;
}

.circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
}

.type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red
}
.type2 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000
}
.type3 {
    width: 500px;
    height: 500px;
    background: aqua;
    border: 30px solid blue
}