input {
	display: block;
}
body{
	background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.infoMessage {
	display:block;
}

.chatSection{
    display: inline-block;
    float: left;
    padding-left:10px;
}